@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* #region navbar container */
.navbar-container {
  @apply flex flex-col sm:flex-row sm:justify-between gap-4 flex-wrap py-8
}

.navbar-side {
  @apply flex gap-4 items-center
}

.logo {
  @apply size-6
}

.cart-items-num {
  @apply absolute size-6 -top-3 -right-3 bg-primary text-secondary rounded-full flex items-center justify-center
}

/* #endregion navbar container */

/* #region home page */
.section-title {
  @apply text-3xl font-medium tracking-wider capitalize mb-8
}


.products-grid {
  @apply pt-12 grid gap-4 md:grid-cols-2 lg:grid-cols-3
}

.product-card {
  @apply transform group-hover:shadow-xl transition-shadow duration-300
}

.card-product-img {
  @apply rounded w-full object-cover transform group-hover:scale-105 transition-transform duration-500
}

.card-product-info {
  @apply mt-2 text-center
}

.hero-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-24 items-center
}

.hero-title {
  @apply max-w-2xl font-bold text-4xl tracking-tighter sm:text-6xl capitalize min-h-32
}


/* #endregion home page */

/* #region about page */
.about-heading {
  @apply flex flex-wrap gap-2 sm:gap-6 items-center justify-center text-4xl font-bold leading-none tracking-wide sm:text-6xl
}

.about-sub-heading {
  @apply bg-primary py-2 px-4 rounded-lg tracking-widest text-white
}

.about-info {
  @apply mt-6 text-lg tracking-wide leading-8 max-w-2xl mx-auto text-muted-foreground
}

/* #endregion about page */

/* #region products page */
.products-header {
  @apply flex justify-between items-center
}

/* #endregion products page */